

.lwyd-box {
	display:block;
	opacity:0;
	transition: opacity 0.3s ease;
	height:0;
	position: fixed;
	img {
		// width:0;
		// height:0;
		// left:0;
		 display:block;
		 position: absolute;
		
	}
	}

.lwyd-box-active {
	opacity:1;
	display:block;
	height:100%;
	width:100%;
	background: rgba(0,0,0,0.9);
	z-index: 999;

	img {
		transition: all 1s ease;
		top:10% !important;
		max-height:80% !important;
		left: 0px !important;
		right: 0px;
		margin: 0px auto !important;
	}
}



.lwyd-container {
		display:inline-block;
		-webkit-column-count: 3;
		-moz-column-count: 3;
		column-count: 3;
		-webkit-column-gap: 0px; 
		-moz-column-gap: 0px; 
		column-gap: 0px;
	    transition: all 0.4s ease;
	    overflow: hidden;
	section {
		display:block;
		margin:0;
		padding: 0;
		width:100%;
		position: relative;
		cursor: pointer;
		margin-top: -2px;
		iframe {
		margin: 0px;
		padding: 0px;
		width:200%;
		height:700px;
		-moz-transform: scale(0.5, 0.5); 
		-webkit-transform: scale(0.5, 0.5); 
		-o-transform: scale(0.5, 0.5);
		-ms-transform: scale(0.5, 0.5);
		transform: scale(0.5, 0.5); 
		-moz-transform-origin: top left;
		-webkit-transform-origin: top left;
		-o-transform-origin: top left;
		-ms-transform-origin: top left;
		transform-origin: top left;
		}

		img {
			width:100%;
			height:auto;
		}

		p {
			position: absolute;
			top: 0px;
			right:0px;
			padding:20px;
			color: white;
			background: rgba(0,0,0,0.8);
			border-bottom: 1px solid $blue;
			text-align:center;
			opacity: 0;
			display:inline-block;

		}
		&:hover  p {
			opacity:1;
		}

	}
}