
.single-tutorial {
	h1 {color:white !important;}
}

.tutorials {
	background:white;
	padding: 40px 0px 40px;
	@media only screen and (max-width: 480px) {
		padding: 40px 0px 40px;
	}
	.tutorials-header {
		padding: 15px;
		h1{
		font-family: "whitneybook", sans-serif;
    	color: #000;
    	font-size: 30px;
    	margin-bottom: 15px;
		}
		p{
			margin-bottom: 30px;
		}
	}
	.article {
		h2{
			font-family: "whitneybook", sans-serif;
	    	color: #000;
	    	font-size: 22px;
	    	margin-bottom: 10px;
		}
		p {
			margin-bottom: 10px;
			color: #717171;
		}
		&:hover{
			h2 {
				color: #00adee;
			}
			p {
				color: #00adee;
			}
		}
	}
	.article-contain {
		padding: 15px;
	}
	
	img {
		width: 100%;
		height: 200px;
		border-radius: 7px;
		transition: all 0.5s ease-in;
	}
	input {
		width:calc(100% - 100px);
		height:40px;
		padding:0px 0px 0px 20px;
		border: none;
		background: lighten($grey, 50%);
		color:$black;
		float:left;
		outline:none;
		transition: all 0.3s ease;
		margin: 0px 0px 20px 0px;
		&:focus {
			background: lighten($grey, 55%);
		}
	}
	.search-btn {
		padding: 0px !Important;
		width: 100px;
		float:left;
		height: 40px;
		background: $blue;
		color:white;
		line-height:40px;
		text-align:center;
		cursor: pointer;
		transition: all 0.4s ease;
		&:hover {
			background: lighten($blue, 20%);
		}
	}

}

//Parallax

/* .single-tutorial .wrapper, .single-emr .wrapper, .single-osr .wrapper  {
  -webkit-perspective: 1px;
  perspective: 1px;
  -moz-perspective: 1px;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  perspective-origin-x: 100%;
  position: absolute;
}
.parallax__layer {
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform-origin-x: 100%;
}
.parallax__layer--base {
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
}
.parallax__layer--back {
     	transform: translateZ(-1px) translateY(-368px) translateX(0px) scale(2);
       -moz-transform: translateZ(0) translateY(0) translateX(0) scale(1);
} */